name: Build App

on:
  workflow_dispatch:
#  push:
#    branches:
#      - main
#  pull_request:
#    branches:
#      - main

jobs:
  publish:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platforms:
          - 'macos-latest'
          - 'ubuntu-20.04'
          - 'windows-latest'

    runs-on: ${{ matrix.platforms }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: install dependencies
        run: pnpm install

      - name: copy files to @contentlayer/source-files
        if: matrix.platforms == 'windows-latest'
        run: |
          copy fixed_pkg\makeCacheItemFromFilePath.js node_modules\.pnpm\node_modules\@contentlayer\source-files\dist\fetchData\makeCacheItemFromFilePath.js

      - name: build app
        run: pnpm build:app
